# Age encryption keys
.sops/keys.txt


# Secret management
*.secret.enc
*.enc
**/*.enc.yaml
.sops/


# Environment files
.env*

# Local environment files
.env
.env.*
!.env.example

# Dependency directories
node_modules/
.vendor/
_build/

# Logs and databases
*.log
*.sqlite

# Editor directories and files
.idea/
.vscode/
*.swp
.DS_Store

